<div class="chat user" align = "left">
        <p class="chat-message" id="bot-message" *ngFor = "let message of botMessages">{{message}}</p> 
        <p id="BHK" class="row">
            <button type="button" class="btn btn-primary col-sm-2" (click)="Click1BHK()" >1 BHK</button>
            <button type="button" class="btn btn-primary col-sm-2" (click)="Click2BHK()" >2 BHK</button>
            <button type="button" class="btn btn-primary col-sm-2" (click)="Click3BHK()" >3 BHK</button>
        </p>
</div>
